body {
  background-color: #f7f7f7;
  background-image: linear-gradient(to right, #b3ffab, #12fff7);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
}

.btn {
  background-color: #06c;
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0a87cc;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
