body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
#cluster-description {
  font-size: 2em;
  margin-top: 1em;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#questionnaire {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
}

input[type="radio"]:checked + label {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

#submit, #finish {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#submit:hover, #finish:hover {
    background-color: #45a049;
}

#response {
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 300px;
}

#finish {
    display: none;
}
